<div class="container mx-auto">
  <app-header/>
  <div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-sm">Lorem ipsum dolor sit amet, <span highlight>consectetur adipisicing elit.</span> Consequatur
      cupiditate debitis, earum
      eligendi facilis harum illo inventore laborum maiores molestiae nam nemo officia pariatur praesentium quae, quam
      repudiandae sed sit.
    </p>
    <p class="text-sm">Numperu de clientes @if (duration() > 0) {
      <app-counter [duration]="duration()" [message]="message()"/>
    }
    </p>
    <div>
      <app-wave-audio audioUrl="assets/audio.mp3"/>
    </div>
  </div>

</div>
